/* General */
body {
    background-color: black; 
    /* background-color: white;  */
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100%; /* Asegura que ocupe toda la altura del viewport */
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.background {
    background: url('sebva.jpg') no-repeat center center; 
    background: url('black.jpg') no-repeat center center; 
    background-size: 70%;
    background-attachment: fixed;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1; 
    animation: girar 120s linear infinite; 
}

/* Header */
header {
    background-color: black;
    left: 0;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header quede arriba */
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

header ul li a:hover {
    color: #f0f0f0; /* Color de hover más suave */
}

/* Hero Section */
.hero {
    margin-top: 60px; /* Asegura espacio suficiente para no superponer con el header */
    flex: 1; /* Toma el espacio disponible para empujar el footer hacia abajo */
}

/* General Section */
section {
    padding: 2em;
    text-align: center;
    margin-top: 10px;
}

/* Portfolio */
.portfolio .projects {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.project {
    background-color: #333; /* Fondo más oscuro para los proyectos */
    border: 1px solid #555; /* Borde más suave */
    padding: 1em;
    width: 200px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    /* padding: 1em 0; */
    /* margin-top: 2em; */
}

@keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

@media (max-width: 768px) {
    .background {
        background-attachment: scroll; /* En móviles, el fondo se desplaza con el contenido */
    }
}

